<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestingSuit">
   <classes>
   <class name="PromisesLog.BaseClassTest"/>
   <class name="PromisesLog.HomePage"/>
   <class name="PromisesLog.Login"/>
   </classes>
  </test> <!-- TestingSuit -->
</suite> <!-- Suite -->
